@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
}
body{
    background-color: rgba(162,167,154);
}
.container{
    background-color: #2c5245;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 2px 8px rgba(44, 44, 44, 0.257);
}
.title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 60px auto;
    letter-spacing: 10px;
}
.buttons{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 2%;
    row-gap: 42%;
    grid-auto-rows: 15px;
}
input{
    border: 2px solid rgba(162,167,154);
    border-radius: 5px;
    font-size: 20px;
    padding: 11px;
    margin: 12px;
    width: 100%;
    margin-left: 0;
    font-family: monospace;
    
}
input:focus{
    outline: none;
}


.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.icon{
  color: black;
  font-size: 22px;
  animation-delay: 5s;
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.clear{
  background-color: rgb(196, 101, 101);
  color: #D6D6E7;
  
}
.fa{
  font-size: 20px;
}
.equal{
  grid-column: span 2;
  background-color: rgb(96, 194, 132);
}
.alpha{
  font-size: 16px;
}





.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 15px;
  font-weight: bold;
  
}
.waviy span {
  font-family: 'Permanent Marker', cursive;
  position: relative;
  display: inline-block;
  color: rgb(70, 66, 66);
  text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 10px auto;
    letter-spacing: -5px;
  text-transform: uppercase;
  animation: waviy 1s 5s;
  animation-delay: calc(.1s * var(--i));
  animation-iteration-count: 2;
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}



@media  screen and (max-width:800px) {
  .title{
    font-size: 35px;
  }
   .button{
    font-size: 10px;
    font-weight: bolder;
   }
   input{
    font-size: 15px;
   }
}